---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import Link from "@components/ui/link.astro";
import { getEntryBySlug } from "astro:content";

const pricing = [
  {
    name: "The Locals Guide to Los Cabos",
    price: {
      monthly: "$20",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
    "Curated insider recommendations from local experts",
    "Comprehensive guide covering the best restaurants, nightlife, hotels, and activities in Los Cabos",
    "Tips and tricks to make the most out of your vacation",
    "Off-the-beaten-path suggestions to discover hidden gems in Los Cabos",
    "High-quality visuals and detailed descriptions of each recommendation",
    "Money-back guarantee for customer satisfaction",
    "Lifetime updates via email, guide refreshed frequently every year.",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/test_3cs3dSa6O7Eh4P6aEE",
    },
  },
];

//const entry = await getEntryBySlug("guides", "cabo");
import {Content as CaboContent} from '../../content/guides/cabo.mdx';

---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">The Locals Guide to Los Cabos</Fragment>
      <Fragment slot="desc">The curated insider recommendations from local experts.</Fragment>
    </Sectionhead>

    <!-- <div class="grid gap-10 mx-auto max-w-screen-lg mt-12"> -->
    <CaboContent /> 
    <!-- </div> -->

    <div class="grid gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
