---
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Contactform from "@components/contactform.astro";
import { SEO } from "astro-seo";
---

<!-- Styles scoped to this component, only. -->
<style>
.home {
  background-color: rgba(5, 5, 5, 1.0);
  background-image: url("/src/assets/background-photo-cover-1.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  padding: 64px;
  min-height: 400px;
}
.header-text {
  background-color: rgba(42,54,59, 0.6); 
  color: white;
  padding: 20px;
}
</style>

<Layout title="Advertise with Us">
  <main class="home grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 mb-8">
  <div>
    <h1 class="header-text text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Connect with the Los Cabos community
    </h1>
    <p class="header-text text-xl text-white max-w-auto">
      Our goal is to bring every visitor or local of Los Cabos the best experiences, locations, and services possible.
    </p>
    <p class="header-text text-xl text-white max-w-auto">
      Let us bring your featured brand or advertisement to life through our locally-curated, contextual content. 
    </p>
  </div>
</main>
  <Container class="pb-32 p-4 sm:p-8 pt-0">
    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-4xl">
      <div class="text-center ">
        <h2 class="font-medium text-2xl text-gray-800">Reputable, Local, & Effective</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-4">
          As the fastest growing social and media brand in Los Cabos, Hola Cabo takes pride in providing the most accurate and relevant information to both tourists and locals.
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-4 mb-4">
          We love covering local businesses, restaurants, events, services with staff that cares about quality and reputation in Mexican hospitality. This helps us ensure we deliver only the best Los Cabos has to offer.
        </p>
        <div class="flex flex-auto justify-items-center items-center place-content-center gap-16 mt-8 mb-8">
          <div class="flex flex-col text-gray-600 text-center">
            <div class="self-center text-primaryLight">
              <Icon class="w-14 h-14" name="simple-icons:instagram" />
            </div>
            <div class="mt-2 text-xl md:text-3xl"><p>2,500</p></div>
            <div><p>active followers</p></div>
          </div>
          <div class="flex flex-col text-gray-600 text-center">
            <div class="self-center text-primaryLight">
              <Icon class="w-14 h-14" name="bx:bx-bar-chart-square" />
            </div>
            <div class="mt-2 text-xl md:text-3xl"><p>5.9K/mo</p></div>
            <div><p>social engagements</p></div>
          </div>
          <div class="flex flex-col text-gray-600 text-center">
            <div class="self-center text-primaryLight">
              <Icon class="w-14 h-14" name="bx:bx-globe" />
            </div>
            <div class="mt-2 text-xl md:text-3xl"><p>1.2K/mo</p></div>
            <div><p>site views</p></div>
          </div>
        </div>
        <div class="flex flex-col items-center text-center">
          <h3 class="font-medium text-xl leading-relaxed text-slate-500">Demographics</h3>
          <p class="leading-relaxed text-slate-500">
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-primaryLight w-8 h-8" name="bx:bx-flag" />
              <span>Mexico, United States & Canada</span>
            </div>
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-primaryLight w-8 h-8" name="bx:bx-user" />
              <span>64% Women • 36% Men</span>
            </div>
          </p>
        </div>
      </div>
    </div>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Available Advertising Packages</h2>
              <p class="mb-5  text-gray-500 sm:text-xl dark:text-gray-400">Reach locals & tourists through Hola Cabo campaigns</p>
          </div>
          <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
              <!-- Pricing Card -->
              <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                  <h3 class="mb-4 text-2xl font-semibold">Basic</h3>
                  <p class=" text-gray-500 sm:text-lg dark:text-gray-400">A single featured promotion across our social channels.</p>
                  <div class="flex justify-center items-baseline my-8">
                      <span class="mr-2 text-5xl font-extrabold">$999</span>
                      <span class="text-gray-500 dark:text-gray-400">USD</span>
                  </div>
                  <ul role="list" class="mb-8 space-y-4 text-left">
                      <li class="flex items-center space-x-3">
                          <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                          <span>On-site photography</span>
                      </li>
                      <li class="flex items-center space-x-3">
                          <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                          <span>Instagram & Facebook post campaign </span>
                      </li>
                      <li class="flex items-center space-x-3">
                          <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                          <span>Story highlights</span>
                      </li>
                      <li class="flex items-center space-x-3">
                          <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                          <span>Targeted audience engagement</span>
                      </li>
                  </ul>
              </div>
              <!-- Pricing Card -->
              <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                  <h3 class="mb-4 text-2xl font-semibold">Premium</h3>
                  <p class=" text-gray-500 sm:text-lg dark:text-gray-400">Multiple featured promotions across our website & social channels.</p>
                  <div class="flex justify-center items-baseline my-8">
                      <span class="mr-2 text-5xl font-extrabold">$2999</span>
                      <span class="text-gray-500 dark:text-gray-400">USD</span>
                  </div>
                  <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>On-site photography</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Website content feature</span>
                </li>
                  <li class="flex items-center space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>(2) Instagram & Facebook post campaigns </span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>(2) Story highlights</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                      <span>Targeted audience engagement</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Social ad campaigns</span>
                  </li>
                  </ul>
              </div>
              <!-- Pricing Card -->
              <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                  <h3 class="mb-4 text-2xl font-semibold">Custom Campaign</h3>
                  <p class=" text-gray-500 sm:text-lg dark:text-gray-400">Best for ongoing campaigns or large scale promotions.</p>
                  
                  <p class="my-16">Partner with us for a 6-12 month audit and improvement of your business and its digital presence. Our team of industry experts will work with you on your social media marketing, advertising, SEO, website optimization, app development, and more.</p>
                  <div class="flex justify-center items-baseline">
                    <Link class="pl-10 pr-10 button-primary" href="#contact">Contact Us</Link>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-64">
      <h2 id="contact" class="text-center font-medium text-2xl text-gray-800 mb-4">Submit the form below & someone from team HolaCabo will be in touch as soon as possible!</h2>
      <Contactform />
    </div>
  </Container>
</Layout>
