---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import Link from "@components/ui/link.astro";
---

<!-- Styles scoped to this component, only. -->
<style>
.home {
  background-color: rgba(5, 5, 5, 1.0);
  background-image: url("/src/assets/contact.jpeg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  padding: 64px;
  min-height: 400px;
}
.header-text {
  background-color: rgba(42,54,59, 0.6); 
  color: white;
  padding: 20px;
}
</style>

<Layout title="Contact">
  <main 
  class="home grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 mb-16" onload="this.style.opacity=1">
  <div class="py-6 md:order-1 hidden md:block">
  </div>
  <div>
    <h1
      class="header-text text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Contact Us
    </h1>
    <p class="header-text text-xl text-white max-w-xl">
      We would love to hear from you!
    </p>
  </div>
</main>
  <Container class="pb-32 p-8 pt-0">
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Drop Us a Line</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-4">
          Have something to say? Want to feature your business or upcoming event?
          Fill up the form or send us an email and someone from our team will be in touch very soon!
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-4">
          Saludos,
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-4">
          The Hola Cabo Team
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>San Jose del Cabo, Baja California Sur</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:holacabomx@gmail.com?subject=Hola%20Cabo%20Inquiry"
              >holacabomx@gmail.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600"></div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
