---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter entries with 'draft: false' & date before current date
const publishedTeasers = await getCollection("teasers", ({ data }) => {
  return data.publishDate < new Date();
});

// Sort content entries by publication date
publishedTeasers.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<style>

.image-hover {
      opacity: 1.0;
      position: relative;
      overflow: hidden;
  }
  .image-hover img {
    transition: transform .55s ease-in-out;
    -moz-transition: transform .55s ease-in-out;
    -webkit-transition: transform .55s ease-in-out;
  }
  .image-hover:hover img {
    transform: scale(1.25);
    transition: transform .55s ease-in-out;
    -moz-transition: transform .55s ease-in-out;
    -webkit-transition: transform .55s ease-in-out;
  }

  .image-hover:after {
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(0,0,0,0.6);
      opacity:0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
  }
  .image-hover:hover:after {
      opacity:1;
  }
</style>

<Layout title="guides">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Digital Guides</Fragment>
      <Fragment slot="desc">
        Paid guides with exclusive content and deals only available here.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid sm:grid-cols-2 md:grid-cols-2 gap-16 max-w-4xl mx-auto">
        {
          publishedTeasers.map((guide, index) => (
            <li>
              <a href={!guide.data.draft ? `/teasers/${guide.slug}` : "#"} style={guide.data.draft ? "pointer-events: none;" : ""}>
                <div class="grid gap-5" style="position:relative;">
                  <div class="image-hover rounded-md">
                    <Picture
                      src={guide.data.image.src}
                      alt={guide.data.image.alt}
                      sizes="(max-width: 800px) 100vw, 800px"
                      widths={[200, 400, 800]}
                      aspectRatio="16:9"
                      background="#ffffff"
                      fit="cover"
                      position="center"
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="w-full rounded-md"
                      style={guide.data.draft ? "opacity: 0.3;" : "opacity: 1.0;" }
                    />
                  </div>
                  {guide.data.draft && (<h4 class="font-semibold text-2xl" style="position: absolute; text-align:center;width: 100%;top:35%;">COMING SOON</h4>)}
                  <div>
                    <h2 class="text-2xl font-semibold leading-snug tracking-tight">
                      {guide.data.title}
                    </h2>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
