---
const { id, links, blok } = Astro.props;
import { Image } from 'astro:assets'
---

<div id={id} class:list={["mt-16", "text-center", "grid"]}>
  <!-- Category -->
  <span class="color-primary uppercase tracking-wider text-sm font-medium"><slot name="category">Category</slot></span>  
  <!-- Name -->
  <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mb-4 pt-4 pb-2"><slot name="name">Name</slot></h1>
  
  <div class="mx-auto relative">
    { blok.image && <Image
        src={blok.image}
        alt={"Featured image for " + blok.name}
        width={1024}
        height={1024}
        sizes="(max-width: 1024px) 100vw, 1024px"
        class="w-full rounded-md"
        loading="eager" />
    }
  </div>
  <!-- Description -->
  <div class="contents m-4">
    <slot name="description">Description Block</slot>
  </div>
  <!-- Links -->
  <div class="flex justify-center mt-4">
    <slot name="links">Links Block</slot>
  </div>
</div>
