---
import { Icon } from "astro-icon";
import Link from "./ui/link.astro";
---

<div
  class="bg-color-primary p-32 mt-20 mx-auto flex flex-col items-center text-center">
  <h2 class="text-slate-900 text-4xl md:text-6xl tracking-tight">
    Want to see your restaurant, bar, or activities featured in our guides?
  </h2>
  <div class="flex mt-16">
    <Link class="pr-32 pl-32" href="/contact" style="inverted"><Icon style="display:inline-block; margin-right:8px;" class="h-4 w-4" name="bx:bxs-envelope" />Contact Hola Cabo</Link>
  </div>
</div>
