---
import Link from "./ui/link.astro";
---

<div
  class="bg-color-brand-primary p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-slate-900 text-4xl md:text-6xl tracking-tight">
    Ready for your best vacation yet?
  </h2>
  <p class="text-white mt-4 text-lg md:text-xl">
    Discover what we have to offer by searching our extensive Baja Sur database of everything listed above.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Search Los Cabos</Link>
  </div>
</div>
