---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";

const features = [
  {
    title: "Top beaches & escapes",
    description:
      "Unwind and soak up the sun on world-class beaches, including our secret spots and hidden gems.",
    icon: "bx:bxs-sun",
  },
  {
    title: "Food: in every category",
    description:
      "Michelin-star dining, local authentic cuisine, the best sushi we've ever had, & our top picks for best marg in town. Mouth watering yet?",
    icon: "bx:bxs-pizza",
  },
  {
    title: "Cocktails, bars & nightlife",
    description:
      "Craft cocktail lover? Best sports bar? Live music seeker? Late-night DJ popups?",
    icon: "bx:bxs-moon",
  },
  {
    title: "Must-see spots & private events",
    description:
      "Historical, cultural, off the beaten path, invite only, or just amazing, these are the ones you won't want to miss!",
    icon: "bx:bxs-crown",
  },
  {
    title: "Local pro tips & tricks",
    description:
      "Navigating customs, culture, language, currency, renting a condo, or buying a home: let us make your transition to 'No Bad Days' life seamless.",
    icon: "bx:bxs-lock",
  },
  {
    title: "Endless activities",
    description:
      "Boating, whale-watching, surfing, snorkeling, golfing, ATV-rides & more. Let us connect you with the best experiences (and price).",
    icon: "bx:bxs-ship",
  },
  {
    title: "Hotels & Airbnbs",
    description:
      "Unwind in paradise. Find your perfect stay with our partnering hotels and premium Airbnb hosts.",
    icon: "bx:bxs-building",
  },
  {
    title: "Exclusive transportation services",
    description:
      "Experience the ultimate in comfort and luxury with our hand-picked private transportation services.",
    icon: "bx:bxs-taxi",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 id="learn-more-scroll-id" class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We've got you covered
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Bringing you the best in every category because we love this place so much.
  </p>
</div>
<div class="mt-8"><Link href="/experiences">See all experiences →</Link>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-color-brand-primary rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
