---
// @ts-ignore
import { Icon } from "astro-icon";
import Button from "./ui/button.astro";
---

<div class="mt-8 mb-24 text-center">
  <!-- <Button
  class="text-center gap-1 w-full lg:w-auto lg:px-5 py-4 white hover:text-gray-900">See all experiences
</Button>
  <h2 class=" mt-8 text-center text-slate-500">Some of our favorite local recs</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
  </div> -->
</div>
