---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import waveSVG from "assets/waves3.svg";

const isProduction = true;
// const isProduction = import.meta.env.PROD;

const metadata = {
  'title': "Our Latest Photos",
  'subtitle': "See what the Hola Cabo team is up to lately in Los Cabos!"
}
---

<div class="grid px-4 sm:px-10 mt-16 md:pb-32" style="position: relative;">
  <img src={waveSVG.src} width="200px" style="position:absolute;top:-5%;right:5%; float:right; opacity: 10%;" />
  <h2 class="text-4xl lg:text-5xl text-slate-900 font-extrabold  lg:tracking-tight">
    {metadata.title}
  </h2>
  <p class="text-lg mt-4 text-slate-600 mb-8">
    {metadata.subtitle}
  </p>
  <!-- Only enabled in production environment. -->
  {(isProduction && (
  <figure data-behold-id="UubyJC2sjbi7UeEzcPI5"></figure>
  <script src="https://w.behold.so/widget.js" type="module"></script>
  <div class="gap-16 max-w-xl mx-auto mt-16">
    <Link target="_blank" class="text-center pl-8 pr-8" href="https://instagram.com/holacabo"><Icon class="h-4 w-4 mr-2" style="display:inline-block;" name="simple-icons:instagram" />See more on Instagram</Link>
  </div>
  ))}
  
</div>
