---
const { 
  align = "center",
  category,
  subtitle = null,
} = Astro.props;
import Divider from "@components/ui/divider.astro";

const titleClass = subtitle ? "text-4xl lg:text-5xl font-bold lg:tracking-tight mb-2 pt-4 pb-0" : "text-4xl lg:text-5xl font-bold lg:tracking-tight mb-4 pt-4 pb-4"
---

<div class:list={["mt-16", align === "center" && "text-center"]}>
  { category && (<span class="color-primary uppercase tracking-wider text-sm font-medium">{"SAN JOSE"}</span>) }
  <h1 class={titleClass}><slot name="title"></slot></h1>
  <slot name="buttons"></slot>
  { subtitle && (<slot name="subtitle"></slot>) }
  <Divider image="/src/assets/holacabo.svg" clazz="p-0" />
</div>
