---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

function capitalizeFirstLetter(string) {
    return string && string[0].toUpperCase() + string.slice(1);
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL("public/hero3.jpeg", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title
  ? capitalizeFirstLetter(title) + " | " + "Hola Cabo"
  : "Hola Cabo: The locals guide to Baja";
---

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  .color-primary { 
    color: #2a9d8f;
  }
  .color-primary-light {
    color: #7ab3ad;
  }
  .color-primary-dark { 
    color: #264653;
  }
  .bg-color-primary { 
    background-color: #2a9d8f;
  }
  .bg-color-primary-light {
    background-color: #7ab3ad;
  }
  .bg-color-secondary {
    background-color: #f4a261;
  }
  .bg-color-tertiary {
    background-color: #e76f51;
  }
  .bg-color-dark {
    background-color: #264653;
  }
  .header-text {
    background-color: rgba(42,54,59, 0.6); 
    color: white;
    padding: 20px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fadeIn {
    animation: 1.5s fadeIn;
  }
</style>
<style is:global>
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #264653;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social-links a:hover {
  color: #24262b;
  background-color: #2a9d8f;
}
</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" as="image" href="hero3.jpeg"/>
    <SEO
      title={makeTitle}
      description="Say hello to the best of Los Cabos with HolaCabo. Food • Cocktails • Lifestyle • Events"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `HolaCabo`,
          image: resolvedImageWithDomain,
        },
        image: { alt: "Welcome to paradise" },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
