---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "public/hero3.jpeg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "HolaCabo"
  : "HolaCabo - Your Locals Guide to Los Cabos";
---

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  .color-brand-primary { 
    color: #096259;
  }
  .color-brand-primary-light {
    color: #7ab3ad;
  }
  .bg-color-brand-primary { 
    background-color: #096259;
  }
  .bg-color-brand-primary-light {
    background-color: #7ab3ad;
  }
  .bg-color-dark {
    background-color: #24262b;
  }
  .header-text {
    background-color: rgba(42,54,59, 0.6); 
    color: white;
    padding: 20px;
  }
</style>
<style is:global>
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #7ab3ad;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" as="image" href="public/hero3.jpeg"/>
    <SEO
      title={makeTitle}
      description="Say hello to the best of Los Cabos with HolaCabo. Food • Cocktails • Lifestyle • Events"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `HolaCabo`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Welcome to paradise",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
