---
const {
    image,
    clazz
} = Astro.props
---

<p class={clazz}>
    ⸻&nbsp;&nbsp;
    <img class="brand-logo" src={image} width="48px" style="margin: 0 auto; display: inline-block; color: white;"/>
    &nbsp;&nbsp; ⸻
</p>