---
interface Props {
  href: string;
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted" | "link";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
};

const styles = {
  outline: "bg-white border-2 border-slate-800 hover:bg-primary hover:text-white hover:border-transparent text-slate-800",
  primary: "bg-color-primary text-white hover:bg-gray-800  border-2 border-transparent no-underline",
  inverted: "bg-white text-black hover:bg-color-primary border-2 border-transparent no-underline",
  muted: "bg-gray-100 hover:bg-gray-200  border-2 border-transparent no-underline",
  link: "color-primary hover:color-primary-dark no-underline"
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
